---
layout: default
---
<div class="main-spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="header-content"> <!-- Flex container -->
                <img class="profile-img" src="https://avatars.githubusercontent.com/u/108768783?s=48&v=4" alt="picture of me">
                <h2>Hello, my name is Jacob Snell, and this is my blog.</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="colo-12 about-content">{{content}}</div>
    </div>
</div>
